<%- messages() %>

<script src="/socket.io/socket.io.js"></script>

<script>
  let socket;
  function getSocket() {
    if (!socket) {
      socket = io();
    }
    return socket;
  }
  const roomCode = '<%= roomCode %>';
  function joinRoom(name) {
    if (roomCode) {
      socket = getSocket();
      socket.on('connect', () => {
        if (roomCode) {
          socket.emit('join_room', roomCode, name);
        }
      });

      socket.on('reconnect', (attemptNumber) => {
        console.log(
          `Successfully reconnected to Socket.IO server on attempt #${attemptNumber}!`
        );
        // TODO: we may not even need this since `connect` gets fired even with reconnects
      });

      socket.on('room_joined_confirmation', (confirmation) => {
        console.log(confirmation);
        hideJoin();

        showWaiting();
      });

      socket.on('started_new_round', () => {
        hideVoted();
        hideWaiting();
        showVote();
      });

      socket.on('voted', async (votes) => {
        hideVote();
        showVoted(votes);
      });
    }
  }
</script>

<div class="room">
  <%- include("../partials/join") %> <%- include("../partials/vote") %> <%-
  include("../partials/voted") %> <%- include("../partials/waiting") %>
</div>
